*.pyc
*.profile

*.egg-info
.cache
*__pycache__

.ipynb_checkpoints

tags
.tags
.tags1

.coverage
build/
dist/

.nfs*

/data/train.csv.bz2
/data/test.csv.bz2
/data/public_train.csv.bz2
/data/public_test.csv.bz2

.vscode

/data/*